;;; public entries -*- mode: plstore -*- 
(("%28%229365c6c83b0ddf9fa549ce142e8f48ce3ce87dc88f2a56b56b97c10cc47e07b1%40group.calendar.google.com%22%0A%20org-gcal%29%0A"
	:secret-access-token t :secret-refresh-token t :secret-expiration t)
 ("%28%22551613974112816c1243a2a23bc39877b2f8541ad40a32c52e434adb442ef511%40group.calendar.google.com%22%0A%20org-gcal%29%0A"
	:secret-access-token t :secret-refresh-token t :secret-expiration t)
 ("%28%22e0f4db8fea2c0fd571c4dcc0330247dfc654ffde8ffd24645b3806530dc415d0%40group.calendar.google.com%22%0A%20org-gcal%29%0A"
	:secret-access-token t :secret-refresh-token t :secret-expiration t)
 ("%28%227344aa12c6072ab694a538c5aec4cc2f9f7b835eeadf6e67a4ec366fb1ee7879%40group.calendar.google.com%22%0A%20org-gcal%29%0A"
	:secret-access-token t :secret-refresh-token t :secret-expiration t)
 ("%28%2280c53f39ec9db4abfa94b0284b32a2e8ba3fe89ba87543bf5cb335db0f3b97b0%40group.calendar.google.com%22%0A%20org-gcal%29%0A"
	:secret-access-token t :secret-refresh-token t :secret-expiration t)
 ("%28%223a46f53a0303c2a70787c81e7a1d0bdaed5b33867847d9559e11de5d7d0fe9b9%40group.calendar.google.com%22%0A%20org-gcal%29%0A"
	:secret-access-token t :secret-refresh-token t :secret-expiration t))
;;; secret entries
"-----BEGIN PGP MESSAGE-----

jA0ECQMIWBAH2V/oGZn80uoBnWRKjGpoWiJEptlgOLk2Zzo0DFnJTn3DIz6ybBVx
cYcAFdbooEFGiG02HieUwvD918TzFnWFpqqhIAlr/tR56GY+mPPygExL+xdxb44Q
oAdzZnIGOyGIPi0xOhpvA2rpQsGgpms+NiLrZQZ7NKeOs0/PeHN/Zg5OwNtpucs6
JtuWojbq8QAR0Zo1JkBvwlZGiCGlstq0REFZ2q4Be4tDIi27C4jyuKSmcl7kXmbB
U+8HpNDOD3b924iWRbk77civcrSTFgQgdh5q9XnsUcAGBa5UQH0ecvv3Vj7PBDoN
hishv/KnavvbUZ7SSbvjpkHEtWk8SdOaYfiq/rYnW1fWUwFhPRdoW/3MKG+teiAp
Rgimj/NDEdhpKFCThHfOrA7bqO4UscBMOXd8kl/cQ2N19iIQUHeo/eq/4l5LvlrI
YKYPuoNaHgWYHmnMsuM4WaHbSoaDXFkwlgmTmuEwdUp1MIaf2PBhbkuJxxej3A5P
v3bTTvAfnTqYKiVWdhBuqUEePc5c5oXK/1MSxwwoqai5N35J1IEnhue1knByEa/e
6aooHfygdVEtqga0PHt3ljyRYAmpnWjhY0uno7g1nOCASyNcIbJc7bdwszSNEBAh
M7mGHZZ2LPk1zPtoaOrbwpJLZw/e1b8JG2TiOJlz09s3Z/7Te+Ru+JZhelGWb2zO
3C/KgE68z3S52vzGX7yxlqwj2+wJyHbfhxTN41Aeg0s7UT483zJjQhLHO38wF0Z4
UiUiZYUtKemj2+Ezm7y/IBQEF+e/tURC7SKpLv3a6MuqUuPIf/f7y1NoBikzPPA6
P0taYrwxy9HsOzD3G42ha5O/V4CZAFowjyiTtBKIvH24Fe39jAgGGCs+Fcbo+1op
mwNsEi23JKE16IKcoobW2xjaY8zsHRAueTSwhC5pIIn/R94jZUU4e7OVmOQMC3Ez
4roZRF638QwtNzhLfaJEXSgGn5cgjdQDFPzEdlTtvCFDYXR/zLVpFHYLcGaYB1kJ
HqX7ZSmWMW5biZAI/pRDKWBVawzgUELOiVPk9MFRdOzaX+sx2bweiuIm3xerLJTp
6ki8ZpwUNLaiA1cIieRYSHX+ryyFUjF5/0lPFZ75ikoGJL2dW9l/R9a+n2AN3VvH
oHW9LtgD5ozYLGJDoYLq9oluxuhjg4N4Fly0pp81yxoehcWdqaDqUlbB7Kjbo+JO
0FDeBEVIpiy8F234fivchY9h7BXSQrlDivca5BoBispdINUmlg05cZ3FNDUlQez4
k+BmMQ/VRbZ9wsizVhAiCgv1PEm3l2JL+Z1qUDw8rdzcpzceOvO4QXQl1+OZysN4
fVpxtED490lrsISVyZk4kk5G/bFoyu2v6Z3Gm4J0I0oE6ch+czLevgrBpEzop/qJ
48b1bazLpslARg71yMz4ANT+5dWP/lLBPi1yYX4NnqTyvVPQ/7K8ydWderMCy7RP
FjZDowJQmB+KMVt14Zk1atJ/kYAF6LcjyaX3pxG2CfR/QpS3SqLBtMaAQQS3O7e6
wUKr40hG17Hb9QH12YoMKBAPaSyqXPlWxmUcERh9f4yU7Fh/e35YEv+mKY/edZVQ
MCKQ2Jh00HKo3gJVz6nhtSBGhJI0tdcKspTOo6xbHYjOSTccXiAi4kbWxIvFPaIX
N/O9DvIhk7T1EzrI6sY54vqq3s/XevzhkcTH3BRcO3t9RNu/XiIIi3HWYkkqejJJ
ueg/0dDLpUgtL4Pu+7oPwKm83vgYrbbej6FT3c2b9714cNM5k4dW0dA/bste0X4o
0W4k6AbsYrnE7UkiCn6aK3PCEw/LdeN+HfWEQrXlDjwrj6kVCEqye/acMy08xVU4
BtG16nLmVK3Tf7468m8kw5mjLn3gNkJ9IkkncIq8cfwuiSL53RV5RKEiMM9CCfGG
HOh/Wa2khQy+tLQWYFce4k7dfql3dNntno6geZTtBmzqvZdFQsP3GaLo7rk2cFmN
jCMprnTVr0q2W0+0in0/xUNwmFYWAJdKWjZADWNoeIJDVU10io8mOAWMl6ybpw4J
77P9QRzCGJAnvAd3MIee20H6wIAfJjWr79fCb6cT4Pn5Ve/GmEtBmzyApHZGLmVH
U5TJ/mEJzgSoLungbRpQrH0Ze9Mp8YGgQ8RUZ3A+ZjwCSvoOpoBdUDaQWJ6BHQZ0
UkuU6zsrur1G4yfXAZmRBfN2oUBN8iQKQVpBozBZFnoOrwoK7oCSaIrSsk+1cWs8
f3uKJhCs86syz66KlxWTBgkhVtQw10Yo6d5XI5Jdn/DQDtLVYGblku8TTCb9zhU9
037+BXMFhjps2Y+Gns4VGKEnSaJVRDl2KrFouEjT3jBsOuS6Nqjm6Y9KUR25Glso
q5EsVpgTQlpD1zVH4+C1C444Zbgc7fkSn6Nj01lxbfBL/eDmLlxbrv8Pq/5f5Hfc
JG0ZZBvy4qrJT6m/lCP6LvBy83cTjEnsVMo5XgBLhTz5an3JHm87Y6h904YTZvZc
0sP4wA==
=9Ma6
-----END PGP MESSAGE-----
"
