;;; public entries -*- mode: plstore -*- 
(("%28%22skcheongbrian%40gmail.com%22%20org-gcal%29%0A"
  :secret-access-token t :secret-refresh-token t :secret-expiration t))
;;; secret entries
"-----BEGIN PGP MESSAGE-----

jA0ECQMKzNb4pGEsXRn/0sD4AV+uruhAfkwpq8/4GJuwkv41eLSyRjW4bZEp5RSC
e+tMpS1hOvo6I6qI+icHgHTeIpNUUwZALw5IjMAMz0TlkDpI5xuS7BRJENajQblF
m4Ms21g5Go+vJm7mVMPPQ1XyjvzD/0LU8+IufHV36VDIotIhp6fb/CAz7PmDaC9x
/kEW3X5WqtE+2YWpRREczfWp0kOHSflIrvR5kUqmK58IiqqNuJ18NjhPC2H3RRfp
meJZ2B52621Q8woo4eWD/KH0DaSLCtilyqBPlivFnvq8j8I1XckVaUa3Wt4uYTNg
yWUyAHUg1wZcvllTiW8+bdS7MizaHHn+q2gfqS1AuxIuY1MyrjxuhTqHUmCApKH4
NnswKg22NHfLFaalnkeUo7R/atqZH7BweyW6+smkD100fvKM5+kgUAa4RqHygzlu
5hiY66XvyLT8D48gucdDPcc0TxX2jb9TB5dC4ZYsZAcEKSWPY+Nl5yQ3S1m2pRev
uZ+8geyGUVX6ldnn/TiEBQc1h2p5DJzwLAcJY2RPcdMvTGZFK0lc7XI3jINzWE0W
83Q2hyXjJAQrAtcCMrbKqe9Kq52Usq2zgLk=
=nFqd
-----END PGP MESSAGE-----
"
